@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white text-slate-700;
  }

  body {
    @apply w-full max-w-screen-md mx-auto px-2;
  }
}

@layer components {
  h1 {
    @apply my-6 text-5xl max-sm:text-4xl font-black text-slate-900;
  }

  h2,
  h3,
  h4 {
    @apply font-medium text-slate-800 my-4;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  a {
    @apply text-emerald-400 hover:text-emerald-500 active:text-emerald-600 underline transition-colors;
  }

  ul,
  ol {
    @apply list-inside pl-6 my-4;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul,
  ol,
  p,
  li {
    @apply my-4;
  }

  code {
    @apply bg-emerald-100;
  }

  pre > code {
    @apply rounded-md;
  }
}

@layer utilities {
  .section {
    @apply py-6 max-md:py-4;
  }

  .section > h1,
  .section > h2 {
    @apply mt-0 mb-6 max-md:mb-4;
  }

  .container {
    @apply flex flex-col gap-6 max-md:gap-4;
  }

  .shiny {
    @apply bg-gradient-to-r bg-[length:200%] bg-left drop-shadow-sm;
    transform: rotateY(-25deg) translateY(-0.25rem);
    animation-fill-mode: forwards;
  }

  .perspective {
    transform-style: preserve-3d;
    transform: perspective(35em);
  }

  @responsive {
    .transform-center {
      transform-origin: center;
    }

    .transform-75\% {
      transform-origin: 50% 75%;
    }
  }

  .inherit-transform-style {
    transform-style: inherit;
  }
}
